*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
.header{
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 500px;

}

.logo img{
    width: 250px;
}

.logo h2{
    font-weight: normal;
    max-width: 80%;
    font-size: 28px;
    margin-top: 20px;
}

.form{
    background-color: #fff;
    width: 400px;
    height: 340px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    text-align: center;
}

.form-1 input{
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

.form-1 input:focus{
    outline: 0;
}

.botao button{
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: #1877f2;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
}

.botao button:hover{
    background-color: #4d79d1;
}

.esqueceu{
    margin: 15px 0;
}

.esqueceu a{
    text-decoration: none;
    color: #1877f2;
}

.esqueceu a:hover{
    text-decoration: underline;
}

.traco{
    width: 350px;
    border-bottom: 1px solid #dadde1;
    margin-left: 30px;
}

.criar-conta{
    margin: 40px;
}

.criar-conta a{
    text-decoration: none;
    background-color: #42b72a;
    padding: 15px 15px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.criar-conta a:hover{
    background-color: #34c526;
}

.pagina{
    position: relative;
    top: 20px;
}

.pagina a{
    text-decoration: none;
    color: #1c1e21;
    font-weight: bold;
    font-size: 14px;
}

.pagina a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 900px){
    .logo h2{
        display: none;
    }
    .logo img{
        position: relative;
        left: 125px;
        top: 50px;
    }
}

@media screen and (max-width: 500px){
    .logo img{
        position: relative;
        left: 80px;

    }
}

@media screen and (max-width: 280px){
    .form{
        width: 100%;
        

    }
    .logo{
        position: absolute;
     
    }
}